* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url(https://wallpaperaccess.com/full/4622688.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

h1 {
  text-align: center;
  font-size: 40px;
}

#color-palette, #pixel-board{
  justify-content: center;
  display: flex;
  width: 800px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  margin-bottom: 20px;
  padding-top: 20px;
}

#clear-button {
  justify-content: center;
  display: flex;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 100px;
  width: 600px;
}

#clear-board {
  width: 100px;
  /* margin: 10px; */
  font-size: large;
  border-radius: 5px;
}

#board-size {
  font-size: large;
  width: 200px;
  margin-left: 10px;
  border-radius: 5px;
}

#generate-board {
  width: 100px;
  margin-left: 10px;
  font-size: large;
  border-radius: 5px;
}

#pixel-board {
  display: grid;
  --size: 5;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  height: 800px;
}

.color {
  border: 1px solid black;
  width: 70px;
  height: 70px;
}

.black {
  background-color: black;
  cursor: pointer;
}

/* .blue {
  cursor: pointer;
}

.green {
  cursor: pointer;
}

.red {
  cursor: pointer;
} */